<h1>Log in</h1>

<%= form_with url: sessions_path do |form| %>
  <%= hidden_field_tag 'phone', @phone %>
  <div>
    <%= form.label :otp %><br>
    <%= form.text_field :otp %>
    <% if flash[:alert].present? %>
      <div><%= flash[:alert] %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Log in' %>
  </div>
<% end %>
